In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("./../Data/data.csv")
data.head()

,RHA_Year,Agricultural_use,Aquacultural_use,Availability,DBO5_contaminated,Domestic_use,DQO_contaminated,Industrial_use,Livestock_use,Multiple_use,PIB,Population_density,Public_urban_use,Rainfall,Runoff,Services_use,SST_contaminated,Temperature,Water_stress
0,Península de Baja California_2005,5248.11,2.99,4423,13.0,1.76,53.3,143.64,13.37,483.70,4.165,21.751774,654.58,158.00,3012,25.05,4.8,21.023144,86.33
1,Noroeste_2005,11153.63,3.10,8213,21.4,1.14,50.0,98.07,52.36,327.55,2.775,12.699902,1928.18,380.50,5459,5.09,20.0,20.682030,80.45
2,Pacífico Norte_2005,18537.51,627.82,25075,4.9,0.65,33.3,110.91,12.49,153.81,3.045,25.738729,1100.89,646.75,22395,9.64,4.8,21.956878,41.24
3,Balsas_2005,11734.63,419.44,28336,28.5,19.61,47.5,434.13,6.29,296.83,11.950,88.621596,1687.48,855.40,24944,73.05,9.3,18.953706,36.96
4,Pacífico Sur_2005,1900.88,0.80,32226,0.0,1.17,0.0,19.59,0.81,64.01,1.825,48.805376,540.63,1363.00,30800,11.46,0.0,25.115556,3.93

In [ ]:
train_data, test_data = train_test_split(data, test_size=0.3, random_state=42)